@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

@mixin boldWhiteLetters {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Corben-bold;
    // font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.03125rem;
}


.bookedBody {
    height: 100vh;
    // background: #FFF9F4;
    background-color: green;
}

//galaxy fold
@media screen and (max-width: 300px) {
    
    .bookedBody {
      height: 120vh;
      width: max-content;
    }
  }
  
  //Iphone SE
  @media screen and (max-height: 700px) {
      
    .bookedBody {
      padding-top: 4%;
    }
  }


.bookedUser {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    width: 22.1875rem;
    height: 5.8rem;
    border-radius: 0.3125rem;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-left: 1px solid #000;
    background: #FFF;
    box-shadow: 0px -3px 0px 0px #000;
}

.userImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
}

.bookedUserInfo {
    text-align: center;
    width: 8.9rem;
    padding-left: 1rem;
    line-height: 1.1rem;
}

.bookedUserName {
    font-size: 1.2rem;
}

.bookedUserRole {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    /* 106.667% */
}

.bookedDay {
    display: flex;
    flex-direction: row;
    // width: 8rem;
}

.blueCalendar {
    margin-top: auto;
    margin-bottom: auto;
    width: 48px;
    height: 45.871px;
}

.bookedTime{
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
}

.bookedMessage1 {
    @include boldWhiteLetters()
}

.bookedMessage2 {
    @include boldWhiteLetters()
}


.googleCalendarBtn {
    display: flex;
    margin: auto;
    margin-top: 6rem;
    color: white;
    width: 16.375rem;
    font-family: Corben;
    font-weight: 700;
    background-color: black;
    border-radius: 1.89325rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.5rem;
}

.googleLink {
    margin-top: 2%;
    margin-right: 0.5rem;
}