@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.connect {
  &__container {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    // width: 100%;
    width: 90%;
    // margin: 3rem;
    margin: 2.5rem 1rem;
    @include desktop {
      margin-top: 8rem;
    }
  }

  &__back-arrow {
    display: flex;
  }

  &__header {
    margin-top: -1.563rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
  }

  &__profile-pic {
    background-color: #d3d3d3;
    border-radius: 100%;
    height: 9.25rem;
    width: 9.25rem;
    margin-left: 30%;
  }

  &__profile-name {
    // padding-left: 1rem;
    font-size: 2rem;
  }

  &__location-image {
    padding: 0rem 0.7rem;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.2rem;
  }

  &__column {
    width: 50%;
    display: flex;
    align-items: center;
  }

  &__reviews-icon {
    margin-left: 35%;
  }

  &__info {
    text-wrap: nowrap;
  }

  &__outer-box {
    height: 70%;
    width: 100%;
    // padding: 10px 30px; // top right bottom left
    border-radius: 20px;
    border: solid;
    border-color: grey;
    display: flex;
    flex-direction: column;
    text-align: left;

    &__inner-box {
      height: 70%;
      // padding: 10px 30px 10px 30px;
      padding: 15px;
      border-radius: 20px;
      color: grey; /* Set your desired text color */
      // border: solid;
      // border-color: grey;

      &__header {
        color: $mvp-black;
        margin-bottom: 0.3rem;
      }

      &__bio {
        line-height: 1.5rem;
        margin-bottom: 0.3rem;
      }

      &__expertise {
        display: flex;
        // justify-content: center;
        align-items: center;
        // margin-bottom: 0.5rem;
        margin-left: -1rem;
        padding: 0.5rem 1rem;
        margin-bottom: 0.3rem;
        color: $mvp-black;
        font-size: small;

        &__header {
          margin-right: 1rem;

        }

        &__skill {
          // padding: 0.5rem 1rem;
          padding: 0.2rem 0.5rem;
          // margin-left: 1rem;
          margin-left: 0.5rem;
          background-color: $mvp-light-blue;
          border-radius: 2rem;
        }
      }
    }
  }

  &__image {
    margin-right: 0.5rem;
    margin-left: -0.5rem;
  }

  &__logo {
    margin-left: 6.5rem;
  }

  &__button {
    // margin: 1rem;
    background-color: $mvp-black;
    color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    &--row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &--container {
      // padding-top: 1rem;
      padding-top: 0.5rem;
    }
    &__text {
      margin-right: 0.5rem;
    }
  }
}

