@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/global" as *;

.hero {
  width: 100%;
  height: 100%;
  color: $mvp-black;

  @include desktop {
    max-width: 100vw;
    height: auto;
    margin: auto;
  }

  &__container {
    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      @include tablet {
        padding: 1.5rem;
      }

    }
    &--main {
        z-index:1;
      display: flex;
      flex-direction: row;
      align-items: center;
      @include desktop {
        max-width: 80rem;
        margin: auto;
      }
    }
    &--cards {
      display: none;

      @include tablet {
        width: 20rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: -1;
        margin-right: 10rem;
      }
    }

    &--button {
        align-self: normal;
    }
  }

  &__title {
    @include mobile-pageheader;

    @include tablet {
      @include desktop-pageheader;
    }

    // TODO: Highlight only works on desktop - need to fix
    &--highlight {
      &:before {
        content: "";
        position: absolute;
        width: 11rem;
        height: 3%;
        margin-top: 2.5rem;
        z-index: -1;
      }
      @include tablet {
        &:before {
          content: "";
          position: absolute;
          width: 13rem;
          height: 3%;
          margin-top: 3.3rem;
          z-index: -1;
        }
      }
    }
  }

  &__button {
    border-radius: 2rem;
    font-weight: bolder;
    @include mobile-buttons;

    &:hover {
      background-color: $mvp-red;
      cursor: pointer;
      transform: scale(1.1);
      color: $mvp-white;
      transition: all 0.5s ease-in-out;
    }

    @include tablet {
      @include desktop-buttons;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45rem;
    object-fit: cover;
    z-index: -1;

    @include desktop {
      max-width: 100vw;
      max-height: 60rem;
    }
  }
}

.hero__title {
  font-size: 2.5rem;
}

.heroContainerText {
  display: flex;
  flex-direction: column;
}

.hero-sign-btn {
  border-width: 3px;
  border-color: #000;
  background-color: #FFF;
  font-weight: 800;
  border: 2px solid black;
  padding: 1rem 3rem;
  margin-right: 1rem;
}