@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Apply font family
h1, h2, h3, h4, h5, h6 {
  font-family: "Corben-Bold", sans-serif;
}

p {
  font-family: "Gilroy-ExtraBold", sans-serif;
}


a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

button:focus {
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
