@use "../partials/variables" as *;

// // Media Queries // //
// Desktop
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Tablet
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

// // Reuseable Styles // //
@mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin swipe-container($duration: $transition-duration) {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @include swipe-transition($duration);
}

@mixin swipe-container-div($duration: $transition-duration) {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include swipe-transition($duration);
}

@mixin swipe-transition-exit($duration: $transition-duration) {
  @include swipe-transition($duration);
}

// // Font Styles // //
// Desktop Styles
@mixin desktop-pageheader {
  font-family: "Corben-Bold", sans-serif;
  font-size: 3.625rem;
}

@mixin desktop-subheader {
  font-family: "Corben-Bold", sans-serif;
  font-size: 1.875rem;
}

@mixin desktop-body {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 1.5625rem;
}

@mixin desktop-buttons {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 1.6875rem;
}

// Mobile Styles
@mixin mobile-pageheader {
  font-family: "Corben-Bold", sans-serif;
  font-size: 3rem;
}

@mixin mobile-subheader {
  font-family: "Corben-Bold", sans-serif;
  font-size: 1.6875rem;
}

@mixin mobile-body {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 1.3125rem;
}

@mixin mobile-buttons {
  font-family: "Gilroy-Light", sans-serif;
  font-size: 1.25rem;
}

@mixin mobile-calendar-buttons {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: $mvp-white;
}