// Font faces
@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("../../assets/fonts/Gilroy/Gilroy-ExtraBold.otf");
    font-weight: 800;
  }
  
  @font-face {
      font-family: "Gilroy-Light";
      src: url("../../assets/fonts/Gilroy/Gilroy-Light.otf");
      font-weight: 500;
  }
  
  @font-face {
      font-family: "Corben-Bold";
      src: url("../../assets/fonts/Corben/Corben-Bold.ttf");
      font-weight: 700;
    }
  @font-face {
      font-family: "Corben-Regular";
      src: url("../../assets/fonts/Corben/Corben-Regular.ttf");
      font-weight: 400;
    }


    