// Media Query Sizes
$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

// // Colors // //
// Primary Colors
$mvp-black: #000000; // Borders and Text
$mvp-light-blue: #0099ff; // Text and Interactive Elements
$mvp-lighter-blue: #60bdfb; // Blue accent on Scheduling Page
$mvp-lighter-blue-hover: #e3f4ff; // Even lighter blue for hover effects
$mvp-white: #ffffff; // Universal White for text and inputs
$mvp-yellow: #ffd22f; // Backgrounds and Icons

// Secondary Colors
$mvp-dark-blue: #0954b0; // Borders and Text
$mvp-red: #ff7070; // Important Text
$mvp-cream: #fff9f4; // Backgrounds and Highlights
