@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";


.logoutBtn {
  border-radius: 100%;
  height: 2.2rem;
  width: 2.2rem;
  contain: strict;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  top: 1rem;
  background-color: black;
}

.logoutImg {
  margin: auto;
  z-index: 1;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}

.profileName {
  font-size: large;
}

.btnDiv {
  width: auto;
  display: flex;
  justify-content: center;
}

.editBtn {
  margin: auto;
  color: white;
  background-color: black;
  border-radius: 1.89325rem;
  font-family: Gilroy-bold, sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  padding: 0.8rem;
}

.profile {
  &__content {
    @include center-vertically;
  }

  &__card {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 20rem;

    &--container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
  }

  &__description {
    width: 23rem;
    height: fit-content;
    margin-top: 2rem;
    padding: 1.2rem;
    border-radius: 1.9375rem;
    background: #F7F7F7;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  }

  &_bio {
    font-family: "Gilroy", sans-serif;
    line-height: 1.4rem;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
  }

  &__tech {
    padding: 0.2rem 1rem;
    border-radius: 1.31581rem;
    background: #799DCA;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gilroy;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.625rem;

    &--row {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-wrap: normal;
      margin-bottom: 0.2rem;
      align-items: baseline;
      justify-content: space-around;
    }

    &--container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__button {
    margin: 1rem;
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    padding: .75rem 2rem;
  }
}