@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.connections {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/background/ConnectionsMobileBackground.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  @include tablet {
    height: 100vh;
  }
  @include desktop {
    height: 135vh;
    background-image: none;
  }
  &__top {
    display: flex;
    width: 100%;
    height: 23%;
    flex-direction: column;
    justify-content: center;
    @include tablet {
      height: 63%;
    }
    @include desktop {
      height: 100%;

      width: 50%;
    }
  }
  &__container {
    display: flex;
    height: 95%;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin: 2rem 2rem 0rem 2rem;
    @include tablet {
      height: 91%;
      justify-content: center;
    }
    @include desktop {
      margin: 8rem 2rem 0rem 2rem;
      justify-content: center;
      height: 60%;
      flex-direction: row;
    }
  }

  &__back-arrow {
    display: flex;
  }

  &__upper-container {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  &--upper {
    width: 87%;
    font-size: 1.7rem;
    text-align: left;
    @include tablet {
      width: 50%;
      max-width: 328px;
      font-size: 1.5rem;
    }
    @include desktop {
      width: 32%;
    }
  }

  &--lower {
    width: 87%;
    font-size: 1.7rem;
    margin: -1rem 0px 0px 2.5rem;
    text-align: right ;
  }

  &__spiral-arrow {
    width: 5.5rem;
    height: 7rem;
    position: absolute;
    margin-top: -3.5rem;
    margin-left: 75%;
  }

  &__button-container {
    margin-top: 0.5rem;
  }

  &__button {
    width: 50%;
    color: white;
    background-color: black;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.6rem 0.4rem;
    margin: 1rem 0.5rem;
    @include tablet {
      width: 29%;
      color: white;
      background-color: black;
      font-size: 1.2rem;
      padding: 1rem 0.4rem;
    }
    @include desktop {
      width: 23%;
    }
    &-container {
      display: flex;
      width: 100%;
      justify-content: center;
      @include tablet {
        margin-top: 2rem;
      }
    }
  }
  &__image {
    width: 86%;
    height: 67%;
    background-position: center;
    background-size: contain;
    margin: 0rem;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/ConnectionsBaseAnimation.svg");
    position: relative;

    @include tablet {
      height: 57%;
      margin: 2rem;
      width: 47%;
      max-width: 360px;
    }
    @include desktop {
      height: 55%;
      margin: 2rem;
      margin: 0;
    }

    &-img-1 {
      width: 22%;

      right: 40%;
      top: 35%;

      position: absolute;

      animation: circle 6s linear infinite;
      @include tablet {
        width: 29%;
        max-width: 84px;
        right: 35%;
        top: 37%;
      }
      @include desktop {
        width: 24%;
        right: 38%;
        max-width: 84px;
        top: 41%;
      }
    }

    &-img-2 {
      width: 22%;

      right: 40%;
      top: 35%;

      position: absolute;

      animation: circle 6s linear infinite;
      animation-delay: -3s;
      @include tablet {
        width: 29%;
        right: 35%;
        max-width: 84px;
        top: 37%;
      }
      @include desktop {
        width: 24%;
        right: 38%;

        max-width: 84px;
        top: 41%;
      }
    }
  }
  &__cont-box {
    height: 62%;
    @include tablet {
      width: 100%;
      height: 100%;
    }
    @include desktop {
      height: 100%;
      width: 50%;
    }
  }
  &__box {
    padding: 0 20px 0;
    height: 95%;
    margin-top: 5px;
    border-radius: 5px;
    color: grey; /* Set your desired text color */
    background-color: $mvp-white;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include tablet {
      padding: 2rem 3rem;
      height: 71%;
    }
    @include desktop {
      height: 80%;
    }
  }
  &__filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__titles {
    color: $mvp-black;
    font-size: 1.3rem;
    margin: 0.3rem 0rem;
    @include tablet {
      font-size: 1.5rem;
      margin: 1rem 0rem;
    }
  }
  &__option-2 {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.4rem;
    color: black;
    font-size: 0.8rem;
    @include tablet {
      font-size: 1.1rem;
    }
  }
  &__option-1 {
    padding: 0.3rem 0.4rem;
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    @include tablet {
      font-size: 1.1rem;
    }
  }
  &__option-3 {
    padding: 0.3rem 0.4rem;
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    @include tablet {
      font-size: 1.1rem;
    }
  }
  &__option-4 {
    padding: 0.3rem 1.4rem;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    @include tablet {
      font-size: 1.1rem;
    }
  }
  &__options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
  }
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}
@keyframes circle-2 {
  0% {
    transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
}
.selected {
  background-color: $mvp-light-blue;
  color: $mvp-white;
}

@keyframes circle-desktop {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
@keyframes circle-2-desktop {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
