.navbar {
  // position: fixed;
  margin-bottom: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgrey;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
}
