.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; 
  color: #888; 
}

.arrow-icon {
  font-size: 2rem;
  margin-top: 0.5rem;
  color: #888; 
}

  
  
  
  
  