@use "../../styles/partials/mixins" as *;
.centerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  contain: strict;
  @include tablet {
    justify-content: center;
  }
}
.login {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  width: 100%;
  background-image: url("../../assets/background/yellowbackgroundlogin.png");
}
.logoMark {
  margin-top: 3rem;
  height: 8rem;
  z-index: 1;
}

.coffeeChat {
  z-index: 1;
}

.loginH2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: "Corben-Bold", sans-serif;
  font-size: 1.3rem;
  z-index: 1;
  @include desktop {
    margin-bottom: 2rem;
  }
}

.loginForm {
  width: 80%;
  z-index: 1;
  height: 25%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 35%;
  }
}

.inputLogin {
  background-color: transparent;
  padding: 1rem;
  padding-bottom: 0%;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
  font-family: "Gilroy-light", sans-serif;
  font-weight: 100;
  font-size: x-large;
}

.checkBoxLoginDiv {
  display: flex;

  @include desktop {
    margin-bottom: 2rem;
  }
}

.checkBoxLogin {
  margin-right: 0.5rem;
}

.loginBtn {
  margin-bottom: 0.5rem;
  background-color: black;
  border-radius: 20px;
  width: 9rem;
  color: white;
  font-family: "Gilroy-light", sans-serif;
  font-weight: 100;
  font-size: x-large;
  padding: 0.5rem;
  text-align: -webkit-center;
  position: relative;
  z-index: 1;
}

.continueWith {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  font-size: medium;
  z-index: 1;
}

.altBtns {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  z-index: 1;
  @include tablet {
    justify-content: center;
    display: flex;
    gap: 5%;
  }
  @include desktop {
    justify-content: center;
    display: flex;
    gap: 5%;
  }
}

.linkSvg {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5rem;
}

.linkText {
  // border: solid green;
}

@media (max-height: 780px) {
  .pinkBlob2 {
    position: absolute;
    bottom: -5rem;
  }
}
