@use "../../styles/partials/global" as *;

@mixin small-header-style {
    width: fit-content;
    display: flex;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Gilroy-ExtraBold;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.03125rem;
    margin: auto;
}

.schedulingHeaders {
    @include small-header-style();
}

.flexButtons {
    display: flex;
    justify-content: space-around;
}

.selectedButton {
    background-color: rgb(106, 165, 241);
}

.schedulingButton {
    background-color: white;
    border: grey 2px solid;
    margin-top: 1.6rem;
    padding: 0.5rem;
}

.bookingButton {
    color: #FFF;
    background-color: black;
    text-align: center;
    font-family: Gilroy-ExtraBold;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 1.8rem;
    width: 8.70906rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}