@use "../../styles/partials/mixins" as *;
.signUpHeader {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: "Gilroy-bold", sans-serif;
  font-size: xx-large;
  z-index: 1;
}

.createUserForm {
  width: 80%;
  z-index: 1;
  @include tablet {
    width: 42%;
  }
  @include desktop {
    width: 30%;
  }
}

.inputStyle {
  padding: 1rem;
  background-color: transparent;
  padding-bottom: 0%;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  position: relative;
  font-family: "Gilroy-light", sans-serif;
  font-weight: 100;
  font-size: x-large;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.createAccoutnBtn {
  background-color: black;
  border-radius: 20px;
  width: 9rem;
  color: white;
  font-family: "Gilroy-light", sans-serif;
  font-weight: 100;
  font-size: x-large;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (max-height: 780px) {
  .greenBlob {
    position: absolute;
    bottom: -9rem;
  }
}
.signup {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  width: 100%;
  background-image: url("../../assets/background/BlueSignUpBackground.png");
}
