.createUserForm {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    border: solid green 1px;
}

.inputStyle {
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        border-radius: 10px;
        width: 89%;
        position: relative;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.createAccoutnBtn {
    background-color: aqua;
    border-radius: 10px;
    padding: 0.5rem;
}