.signUpHeader {
    font-family: 'Corben', serif;
    text-align: center;
}

.createUserForm {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}

.inputStyle {
        padding: 1rem;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 1px solid black;
        width: 89%;
        position: relative;
        font-family: 'Corben', serif;
}


.buttonContainer {
    display: flex;
    justify-content: center;
}

.createAccoutnBtn {
    background-color: black;
    border-radius: 20px;
    width: 7rem;
    color: white;
    font-family: 'Corben', serif;
    font-size: large;
}