@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.accountBtn {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: auto;
    margin-right: 2rem;
    background-position: center;
    background-size: cover;

    text-align: center;
    @include tablet {
        margin-left: 5%;
        width: 10vw;
        height: 10vw;
    }
    @include desktop {
        margin-left: 50%;
        width: 7vw;
        height: 7vw;
    }
}

.WelcomeTitle {
    padding-left: 1.2rem;
    font-size: 1.5rem;
    @include tablet {
        padding-left: 2.5rem;
        font-size: 1.9rem;
    }
    @include desktop {
        padding-left: 5%;
    }
}

.upcomingEventTitle {
    text-align: center;
    margin-bottom: 0.5rem;
}

.homeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
    @include tablet {
        justify-content: flex-start;
        margin-bottom: 5%;
    }
    @include desktop {
        justify-content: flex-start;
        margin-bottom: 3%;
    }
}

.scheduleDiv {
    border-radius: 25px;
    background-color: #f7f7f7;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 5%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
    @include tablet {
        margin: 0px;
        margin-top: 5%;
        margin-left: 2.5rem;
        width: 70%;
        gap: 15px;
    }
    @include desktop {
        border-radius: 25px;
        width: 55%;
        gap: 0px;
        margin: 2% 5% 2% 5%;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
        padding: 0.5rem;
        height: 45%;

        overflow: auto;
    }
}
.scheduledItem {
    display: flex;
    justify-content: space-between;
    padding: 0px 2%;
    width: 100%;
    align-items: center;
}
.scheduleList {
    display: flex;
    border-radius: 1.25rem;
    background-color: white;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;

    width: 100%;
    @include tablet {
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
}
.scheduleTitle {
    text-align: left;
    padding-left: 7%;
    @include tablet {
        padding-left: 2.5rem;
        font-size: 1.5rem;
    }
    @include desktop {
        padding-left: 6%;
    }
}
.scheduledName {
    //   background-color: #ff9393;
    //   border-radius: 25px;
    //   border: 2px solid black;
    //   margin-right: 1rem;
    font-size: 0.7rem;
    color: black;
    text-align: center;
    // padding: 0.7rem;
    //   width: 50%;
    @include tablet {
        // width: 25%;
        font-size: 0.9rem;
    }
}
.scheduledNameOnly {
    background-color: #ff9393;
    border-radius: 25px;
    border: 2px solid black;
    margin-right: 1rem;
    color: black;
    font-size: 0.7rem;
    text-align: center;
    padding: 0.7rem;
    width: 30%;
    @include tablet {
        width: 25%;
        font-size: 1.1rem;
    }
}

.lowerDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    height: 4rem;
}

.connections {
    border-radius: 25px;
    background-color: white;
    width: 32%;
    text-align: center;
}

.home {
    background-color: white;
    height: 100vh;
    background-image: url(../../assets/images/HomeBackgroundTablet.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 15%;
    @include tablet {
        padding-top: 16%;
        background-image: url(../../assets/images/HomeBackgroundTablet.svg);
    }
    @include desktop {
        padding-top: 9%;
        background-image: url(../../assets/images/HomeBackground.svg);
    }
}
.ScheduleDivTitle {
    margin-bottom: 1rem;
}
.scheduledInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @include tablet {
        max-width: 50%;
        display: flex;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        align-content: center;
        gap: 10px;
    }
    @include desktop {
        max-width: 50%;
        display: flex;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        align-content: center;
        gap: 20px;
    }
}
.scheduleList:hover {
    background: rgb(233, 233, 233);
}
.scheduledNextConnection {
    margin-left: 7%;
    margin-top: 5%;
    font-size: 1rem;
    width: 50%;
    @include tablet {
        margin-left: 6%;
        font-size: 1.5rem;
    }
    @include tablet {
        margin-left: 6%;
        font-size: 1.5rem;
    }
}
.UrlAddress {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-shrink: 1;
    overflow: hidden;
    max-width: 118px;
}
