.headerContainer{
    display: flex;
    align-content: center;
    
    .header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: flex-start;
        margin-left: 10px;
        margin-right: 10px;

        .backArrow{
        }

        .inboxText{
            font-size: 16px;
            
        }

        }
       
    }

