.sidebar {
    background-color: #f5f5dc;
    width: 80%;
}

.sidebarList {
    display: flex;
    flex-direction: row;
}

.textSide {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.chatName {
    font-size: 1.5rem;
}

.chatContent {
    font-size: 1rem;
}

.chatDate {
    align-self: center;
}

hr {
    color: gray;
}