@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/global" as *;

.partners {
    width: 100%;
    height: auto;

    @include desktop {
        max-width: 80rem;
        height: 100vh;
        margin: auto;
      }
      
  &__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      &:before {
        content: "";
        position: absolute;
        width: 80rem;
        height: 23rem;
        margin-bottom: -12rem;
        border-radius: 3rem 0 0 3rem;
        background-color: $mvp-red;
        opacity: 50%;
        z-index: -1;
      }
    }
    &--header {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      @include tablet {
        padding: 1.5rem;
      }
    }
    &--info {
      @include tablet {
        padding: 3rem;
      }
    }
    &--images {
      display: flex;
      flex-direction: column;

      @include tablet {
        display: flex;
        flex-direction: row;
        padding: 3rem;
      }
    }
  }

  &__title {
    text-align: left;
    @include mobile-subheader;

    @include tablet {
      @include desktop-subheader;
    }
  }

  &__partner {
    width: 25rem;
    margin: auto;

    @include tablet {
      width: 40rem;
    }
  }

  //   TODO: may need to be the same size as the about section mockup photo
  &__mockup {
    display: none;

    @include tablet {
      display: flex;
      width: 35rem;
    }
  }

  &__description {
    @include mobile-subheader;
    padding: 1rem;

    @include tablet {
      @include desktop-subheader;
      padding: 1.5rem;
    }
  }
  &__highlight {
    color: $mvp-red;
    opacity: 50%;
  }

  &__image {
    display: none;

    @include tablet {
        display: flex;
      width: 21.75rem;
      height: 18.5rem;
    }
    &--lasting {
      display: none;

      @include tablet {
        display: flex;
        height: 18rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0.625rem;
      }
    }
  }
}
